.cards {
  padding-top: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.card {
  max-width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__trash {
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__trash:hover {
  cursor: pointer;
  opacity: 60%;
}

.card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  flex-grow: 1;
}

.card__title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;

  margin: 0;
}

.card__like {
  width: 21px;
  height: 19px;
}

.card__like:hover {
  cursor: pointer;
  opacity: 50%;
}

@media screen and (max-width: 900px) {
  .cards {
    justify-content: center;
  }
}
